
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 5px;
    //max-width: 600px;
    border: 1px solid black;

    @media (max-width:$mobile_small) {
        background-color: red;
        min-width: $mobile_small;
    };
    @media (min-width:$tablet) {
        background-color: green;
        min-width: $tablet;
    };
    @media (min-width:$desctop) {
        background-color: blueviolet;
        min-width: $desctop;
    };
}



/* @media (max-width:$mobile_small) {
    .container {
        background-color: red;
        max-width: 320px;
    }
} */


/*Tablet*/
@media (max-width:1200px) {
    .container {}

    .title {}
}

/*Mobile*/
@media (max-width:600px) {
    .container {}

    .title {}

    .IntextImg {}
}