.header__top {
    /* display: flex;
    flex-direction: column; */
}

.header{
    &__middle{
        display:flex;
        justify-content: space-around;
        align-items: center;
        &-search{
            //background-image: url('../../../public/icons/search.svg');
            width:40px;
            height: 40px;
            color:red;
        }
    }
}