* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 5px;
    max-width: 600px;
    border: 1px solid black
}



@media (max-width:320px) {
    .container {
        background-color: red;
        max-width: 320px;
    }
}


/*Tablet*/
@media (max-width:1200px) {
    .container {}

    .title {}
}

/*Mobile*/
@media (max-width:600px) {
    .container {}

    .title {}

    .IntextImg {}
}